{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="header text-center">
            <img src="https://i.ibb.co/xMwx5jh/Screenshot-2019-04-08-at-19-16-55.png" alt="Blidworth-Badge" border="0" width="55%" height="55%">
            <h2>Blidworth Welfare Red - Track & Trace</h2>
            <p>Please enter the following details.</p>
        </div>
        {% if success is defined %}
            {% if success == true %}
            <div class="alert alert-success text-center mb-3" role="alert">
                Thank you for registering your details.
            </div>
            {% endif %}
        {% endif %}

        {% if success is defined %}
            {% if success == false %}
            <div class="alert alert-danger text-center mb-3" role="alert">
                There has been an error processing your information, if the problem persists please write your details down by hand.
            </div>
                {% endif %}
        {% endif %}
        <form method="post" action="/">
            <div class="form-group mb-4">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
            </div>
            <div class="form-group mb-4">
                <label for="exampleInputPassword1">Contact Number</label>
                <input type="tel" class="form-control" id="contact_number" name="contact_number" placeholder="Enter Contact Number">
            </div>
            <small id="emailHelp" class="form-text text-muted mt-4 mb-2 text-center">All Information will be destroyed 21 days prior to the game.</small>
            <button type="submit" class="btn btn-dark mb-5">Submit</button>
        </form>
        <div class="footer text-center">
        </div>
    </div>
{% endblock %}
